.button{
  border-radius: 10px;
}
.btn{
  &-block{
    width: 100%;
  }
  &-round{
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  &-outline{
    color: #eee;
    background: transparent;
    border: 3px solid #eee;
    &:hover,
    &:active,
    &:focus{
      color: #fff;
      border: 3px solid #fff;
    }
  }
}
