.button {
  border-radius: 10px;
  height: 2.5em;
  &.is-warning{
    color: #fff;
    &:hover,
    &:active,
    &:focus{
      color:#eee; 
    }
  }
}
.btn {
  &-block {
    width: 100%;
  }
  &-round {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  &-outline {
    color: #eee;
    background: transparent;
    border: 3px solid #eee;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      border: 3px solid #fff;
    }
  }
  &-share {
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      position: relative;
      top: 2px;
      box-shadow: none;
      outline: none;
      color: #eeeeee;

    }
    &.twitter {
      background: #55acee;
    }
    &.facebook {
      background: #3b5998;
    }
    &.linkedin {
      background: #4875b4;
    }
    &.email {
      background: #444444;
    }
  }
}

@include widescreen {
  .button {
    font-size: 1.25rem;
  }
}
