.button{
  border-radius: 10px;
  height: 2.5em;
}
.btn{
  &-block{
    width: 100%;
  }
  &-round{
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  &-outline{
    color: #eee;
    background: transparent;
    border: 3px solid #eee;
    &:hover,
    &:active,
    &:focus{
      color: #fff;
      border: 3px solid #fff;
    }
  }
  &-link{
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
    padding: .5rem;
    margin: 0 auto;
  }
}

@include widescreen{
  .button{
    font-size: 1.25rem;
  }
}