.modal{
  .modal-card{
    &-head{
      background: #fff;
      border: none;
    }
    &-foot{
      background: #fff;
      padding: 10px;
      display: block;
    }
    &-title{
      padding: 1rem 0;
      color: $primary;
      font-size: 1.2rem;
      font-family: 'Montserrat', sans-serif;
    }
  }
}