.navbar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: closeMenu;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: closeMenu;
  -moz-animation-duration: 0.5s;
  -o-animation-name: closeMenu;
  -o-animation-duration: 0.5s;
  animation-name: closeMenu;
  animation-duration: 0.5s;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  &-burger {
    background-color: $primary;
    height: 40px;
    width: 40px;
    margin-top: 0.3rem;
    margin-right: 1rem;
    border-radius: 5px;
    color: #fff;

    &:hover {
      background-color: darken($primary, 1%);
      color: #fff;
    }
    &:active {
      background-color: darken($primary, 1%);
      color: #fff;
    }
  }

  &-item {
    padding: 0.1rem 0.75rem;
    & img {
      max-height: 2.5rem;
    }
    color: #58595A !important;
    
    &:hover,&:active{
      color: $primary !important;
    }

     &.active{
      color: $primary !important;
      font-weight: bold;
      border-bottom: $primary solid 3px;
    }

    span {
      border-radius: 10px;
      border: $primary solid 1px;
      padding: 0.75rem 2rem;
      color: $primary;
    }
  }

  .logo {
    &-img {
      margin-left: 0.2rem;
    }
    &-text {
      max-width: 100px;
    }
  }
  &.open {
    left: -200px;
    -webkit-animation-name: openMenu;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: openMenu;
    -moz-animation-duration: 0.5s;
    -o-animation-name: openMenu;
    -o-animation-duration: 0.5s;
    animation-name: openMenu;
    animation-duration: 0.5s;
  }
}

#mobileMenu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -200px;
  background-color: $primary;
  overflow-x: hidden;
  transition: 0.5s;

  a {
    &,
    &:link,
    &:visited {
      text-align: center;
      color: #fff !important;
      padding: 1rem;
      background-color: $primary;
    }

    &.active {
      background-color: darken($primary, 5%);
      color: #fff;
    }
    &:hover {
      background-color: darken($primary, 1%);
      color: #fff;
    }
    &:active,
    &:focus {
      background-color: darken($primary, 1%);
      color: #fff;
    }

    span {
      border-radius: 10px;
      border: #fff solid 1px;
      padding: 0.75rem 2rem;
      color: #fff;
    }
  }

  &.open {
    right: 0;
  }
}

#main {
  transition: all 0.5s ease-in-out;
  position: relative;
  -webkit-animation-name: closeMenu;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: closeMenu;
  -moz-animation-duration: 0.5s;
  -o-animation-name: closeMenu;
  -o-animation-duration: 0.5s;
  animation-name: closeMenu;
  animation-duration: 0.5s;

  &.open {
    left: -200px;
    -webkit-animation-name: openMenu;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: openMenu;
    -moz-animation-duration: 0.5s;
    -o-animation-name: openMenu;
    -o-animation-duration: 0.5s;
    animation-name: openMenu;
    animation-duration: 0.5s;
  }
}

@-webkit-keyframes openMenu {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@-webkit-keyframes closeMenu {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}


@-moz-keyframes openMenu {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@-moz-keyframes closeMenu {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}


@-o-keyframes openMenu {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@-o-keyframes closeMenu {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}


@keyframes openMenu {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@keyframes closeMenu {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

@include widescreen{
  .navbar{
    height: 75px;

    &-item {
    & img {
      max-height: 3rem;
    }
  }
  .logo {
    &-img {
      margin-left: 0;
    }
    &-text {
      max-width: 180px;
    }
  }
  &-container{
    padding: 0 1.5rem;
  }
  }
}